body{
    font-size: 30px;
    text-align: center;
    color: darkblue;
    background-image: url("../images/ques_bulbs.png");
}

#ques-wrap{
    background: grey;
    padding: 10px;

}

button{
    color: lightgreen;
    background: darkblue;
    padding: 20px;
}